/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background-color: whitesmoke;
}
html,
body {
  font-family: 'Verdana', sans-serif;
  color: black;
  font-size: 1rem;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
p {
  font-size: 1.5rem;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  font-size: 1.2rem;
  line-height: 2;
}
.container {
  max-width: 60%;
  width: 100%;
  margin: 0 auto;
}
.abtcont {
  max-width: 60%;
  width: 100%;
  margin: 0 auto;
}
header {
  background-color: #0079d3;
  width: 100%;
  padding: 1% 0 0 0%;
  box-shadow: 0 0 10px grey;
  background-image: url("/images/headerimg.svg");
  background-size: 50rem;
  background-repeat: no-repeat;
  background-position: 72%;
  background-position-y: -12rem;
  background-attachment: fixed;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
}
header .logo {
  display: flex;
  width: 100%;
  padding-left: 20%;
}
header .logo h1 {
  font-family: 'Pacifico', cursive;
  align-self: center;
  opacity: 0.8;
}
header .logo img {
  width: 12%;
  padding-left: 2%;
}
header nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
header nav .acont {
  background-color: #24a0ed;
  width: 100%;
  padding-left: 20%;
  height: 48px;
  display: flex;
  align-items: center;
}
header nav .acont a {
  text-decoration: none;
  color: white;
  opacity: 0.8;
  font-size: 1.5rem;
  padding: 0 2% 0 0;
  width: 13rem;
}
header nav .acont a:hover {
  opacity: 1;
  transition: 0.5s;
}
header nav .acont i {
  font-size: 1.5rem;
  padding-right: 20px;
}
@media (max-width: 500px) {
  header {
    width: 100%;
    padding: 0;
  }
  header .logo {
    justify-content: center;
    flex-wrap: wrap;
    padding: 2% 0;
  }
  header .logo h1 {
    width: 100%;
    text-align: center;
  }
  header .logo img {
    width: 35%;
    padding: 0;
  }
  header .logo nav {
    justify-content: space-evenly;
  }
  header .logo nav .acont {
    padding: 0;
  }
  header .logo nav .acont a {
    margin-bottom: 2%;
    padding: 0;
  }
}
.main {
  margin: 3.2% 0;
}
.main img {
  width: 50%;
  border-radius: 10px;
}
.top-content {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  padding: 2%;
  box-shadow: 2px 3px 3px lightgrey;
}
.top-content article {
  display: flex;
  flex-wrap: wrap;
  width: 47%;
  align-items: center;
  padding-bottom: 5%;
}
.top-content h1 {
  width: 100%;
  text-align: center;
}
.middle-content {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  padding: 2%;
  box-shadow: 2px 3px 3px lightgrey;
  padding-top: 5%;
  margin: 3.2% 0;
}
.middle-content article {
  width: 50%;
}
.middle-content h1 {
  width: 100%;
  text-align: center;
  padding-bottom: 5%;
}
.middle-content h2 {
  width: 100%;
  text-align: center;
  padding-bottom: 5%;
}
.middle-content ul {
  padding-left: 12%;
}
.bottom-content {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  padding: 2%;
  box-shadow: 2px 3px 3px lightgrey;
}
.bottom-content article {
  width: 50%;
  text-align: center;
  padding: 2% 2% 0 0;
}
.bottom-content article h1 {
  padding: 10% 0 5% 0;
}
.bottom-content article button {
  margin: 5% 0 0 0;
  padding: 2% 20%;
  color: black;
  border-radius: 10px;
  border: none;
  background-image: linear-gradient(120deg, rgba(255, 135, 23, 0.4) 30%, rgba(255, 176, 0, 0.4) 20%);
}
.bottom-content article button:hover {
  background-color: #FF4500;
  transition: 0.5s;
}
.abtcont {
  padding-top: 3.2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.abtcont img {
  width: 50%;
  border-radius: 10px;
  width: 100%;
  box-shadow: 2px 3px 3px lightgrey;
  margin-bottom: 5%;
}
.card {
  width: 23%;
  padding-bottom: 5%;
  text-align: center;
}
.card a {
  font-size: 3rem;
}
@media (max-width: 500px) {
  .container {
    max-width: 96%;
  }
  .top-content {
    flex-direction: column-reverse;
  }
  .top-content article {
    width: 100%;
    padding: 2%;
  }
  .top-content article p {
    margin: 4%;
  }
  .top-content img {
    width: 100%;
  }
  .middle-content {
    flex-direction: column;
  }
  .middle-content article {
    width: 100%;
    padding: 2%;
  }
  .middle-content img {
    display: none;
  }
  .middle-content ul {
    padding: 0;
  }
  .bottom-content {
    flex-direction: column-reverse;
  }
  .bottom-content article {
    width: 100%;
    padding: 2%;
  }
  .bottom-content img {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .abtcont {
    max-width: 96%;
    flex-direction: column;
  }
  .card {
    width: 100%;
  }
}
