    
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: whitesmoke;
}

html, body {
  font-family: 'Verdana', sans-serif;
  color: black;
  font-size: 1rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1.5rem;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  font-size: 1.2rem;
  line-height: 2;
}

.container {
  max-width: 60%;
  width: 100%;
  margin: 0 auto;
}

.abtcont {
    max-width: 60%;
    width: 100%;
    margin: 0 auto;
}