
// Homepage styling

.main {
    margin: 3.2% 0;

    img {
        .imgstyle();
    }
}

.top-content {

    .contstyle();

    article {
        display: flex;
        flex-wrap: wrap;
        width: 47%;
        align-items: center;
        padding-bottom: 5%;
    }

    h1 {
        .hstyle();
    }

}

.middle-content {

    .contstyle();
    padding-top: 5%;
    margin: 3.2% 0;

    article {
        width: 50%;
    }

    h1 {
        .hstyle();
        padding-bottom: 5%;
    }

    h2 {
        .hstyle();
        padding-bottom: 5%;
    }

    ul {
        padding-left: 12%;
    }

}

.bottom-content {

    .contstyle();

    article {
        width: 50%;
        text-align: center;
        align-self: center;
        padding-bottom: 10%;
    
        h1 {
            padding: 5% 0;
        }

        button {
            margin-top: 5%;
            padding: 2% 20%;
            background-color:#0079D3;
            color: white;
            border-radius: 10px;
            border:none;
        }
    }
}


// about page styling


.abtcont {
    padding-top: 3.2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    img {
        .imgstyle();
        width: 100%;
    }
}

.card {
    width: 23%;
    padding-bottom: 5%;
    text-align: center;

    h1 {
        padding: 5% 0 0 0;
    }

}


//HOMEPAGE MOBILE STYLES
@media @phone {

    .container {
            max-width: 96%;
    }

    .top-content {
            flex-direction: column-reverse;
        
            article {
                width: 100%;
                padding: 2%;
            
                p {
                    margin: 4%;
                }
            }

            img {
                width: 100%;
            }
        }


    .middle-content {
        flex-direction: column;
    
        article {
            width: 100%;
            padding: 2%;
        }
        img {
            display: none;
        }
        ul {
            padding:0;
        }
    }

    .bottom-content {
        flex-direction: column-reverse;

        article {
            width: 100%;
            padding: 2%;
        }

        img {
            width: 100%;
        }
    }

}


// ABOUTPAGE MOBILE STYLES
@media @phone {
    .abtcont {
        max-width: 96%;
        flex-direction: column;
    }

    .card {
        width: 100%;
    }
}
